__pycache__/
*.py[cod]
*.pyd
*.so
*.dll.old
*.obj
*.lib
*.exp
*.log

venv/
venv_rvc/
.venv/

build/
dist/
*.spec

.claude/

error.log
settings.json
capturedll/*.txt
capturedll/*.exe
capturedll/*.manifest
capturedll/*.obj
capturedll/*.dll
